- path = buy_user_path(@user, :drink => drink.id) if @user

.col-xs-12.col-sm-4.col-md-2.col-lg-2
  %a{"data-toggle" => "modal", "data-target" => "#buyModal#{drink.id}"}
    .drink-panel.panel.panel-default.text-center
      .panel-header
        %h6= drink.name
      .panel-body
        = image_tag drink.logo(:thumb), alt: drink.name, class: drink.active? ? "" : "disabled"
      .panel-footer
        = show_amount drink.price

.modal.fade{:id => "buyModal#{drink.id}", :tabindex => "-1", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h1.modal-title Bar oder vom Guthaben?
      .modal-body
        = link_to(buy_user_path(@user, :drink => drink.id, :bar => true) || '#') do
          .panel.panel-default.text-center
            .panel-body
              %h2
                %strong In Bar
        = link_to(buy_user_path(@user, :drink => drink.id, :bar => false) || '#') do
          .panel.panel-default.text-center
            .panel-body
              %h2
                %strong Vom Guthaben