.drink
  %a{"data-toggle" => "modal", "data-target" => "#buyModal#{drink.id}"}
    .drink-panel.panel.panel-default.text-center
      .panel-header
        %h6= drink.name
      .panel-body
        = image_tag drink.logo(:thumb), alt: "", class: "drink-img"
      .panel-footer
        = show_amount drink.price

.modal.fade{:id => "buyModal#{drink.id}", :tabindex => "-1", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h1.modal-title{style:'text-align:center;'} 
        - if user
          = "Bar oder vom Guthaben?"
        - else
          = "Are you sure?"
      .modal-body
        = link_to(generate_buy_path(user, drink, true) || '#', method: :patch) do
          .panel.panel-default.text-center
            .panel-body
              %h2
                - if user
                  %strong In Bar
                - else
                  %strong Yes
        - if user
          = link_to(buy_user_path(user, :drink => drink.id, :bar => false) || '#', method: :patch) do
            .panel.panel-default.text-center
              .panel-body
                %h2
                  %strong Vom Guthaben