- path = buy_user_path(@user, :drink => drink.id) if @user

.col-xs-12.col-sm-4.col-md-2.col-lg-2
  %a{"data-toggle" => "modal", "data-target" => "#buyModal#{drink.id}"}
    .drink-panel.panel.panel-default.text-center
      .panel-header
        %h6= drink.name
      .panel-body
        = image_tag drink.logo(:thumb), alt: drink.name, class: drink.active? ? "" : "disabled"
      .panel-footer
        = show_amount drink.price

.modal.fade{:id => "buyModal#{drink.id}", :tabindex => "-1", :role => "dialog"}
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
  Bar oder vom Guthaben?
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  = buy_user_path(@user, :drink => drink.id, :bar => true)
  = link_to("In Bar", buy_user_path(@user, :drink => drink.id, :bar => true) || '#')
  = link_to("Vom Guthaben", buy_user_path(@user, :drink => drink.id, :bar => false) || '#')
  </div>
  </div>
  </div>
