- model_class = User
- content_for :actions do
  %li
    = link_to 'new user', [:new, :user]
.text-center.filter-label
.letters.left
  - ('A'..'M').each do |letter|
    .filter-letter= letter
.letters.right
  - ('N'..'Z').each do |letter|
    .filter-letter= letter
.row
  .col-xs-3.col-sm-1.col-md-1.col-sm-1.col-lg-1
  = link_to ("/anonymous"), :title => "Cash Payment" do
    .panel.panel-default.text-center
      .panel-body
        %h6= "Cash Payment"
.row{id: "user_preview"}
  = render 'user_view', users: @users
