- model_class = User
- content_for :actions do
  %li
    = link_to 'new user', [:new, :user]
.text-center.filter-label
.letters.left
  - ('A'..'M').each do |letter|
    .filter-letter= letter
.letters.right
  - ('N'..'Z').each do |letter|
    .filter-letter= letter
.row{class: "cash-button"}
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    = link_to ("/anonymous"), :title => "Cash Payment" do
      .panel.panel-default.text-center
        .panel-body
          %h6= "Cash Payment"
.row{id: "user_preview", class: "user-view"}
  = render 'user_view', users: @users
