- model_class = Audit
- content_for :actions do
  %li
    = link_to 'Edit Cash Balance', "/audits/edit"

= form_tag({}, { :class => 'form-horizontal', :method => :get }) do
  .control-group
    = label_tag :start_date, "Show audits from ", class: 'control-label'
    .controls
      = select_date @start_date, prefix: :start_date
  .control-group
    = label_tag :end_date, "until", class: 'control-label'
    .controls
      = select_date @end_date, prefix: :end_date
  - unless @user.nil?
    %input{:type => "hidden", :name => "user", :value => @user.id}
  .control-group
    .controls
      %button.btn.btn-primary
        Filter


%p
  %strong Cash Register Balance:
  = @sum

%p
  %strong
    = "Showing data from #{@start_date} to #{@end_date} for "
    = @user.nil? ? "all users" : "user #{@user.name}"
    \:

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Timestamp
    %th Bank Difference
    %th Cash Register Difference
    %th Drink
  - @audits.each do |audit|
    - if audit.difference > 0
      %tr.success
        %td= audit.created_at
        %td
          = show_amount audit.bank_difference
        %td
          = show_amount audit.difference
        %td n/a
    - else
      %tr.error
        %td= audit.created_at
        %td
          = show_amount audit.bank_difference
        %td
          = show_amount audit.difference
        %td
          = link_to_drink_if_exists audit.drink
